.root {
    -color1:    #1f1936;
    -color2:    #6c7688;
    -color3:    #58c5c6;   
    -color4:    #83886f;
    -color5:    #fefefe;

    -primary_color: -color1;
    -secondary_color: -color3;
    -basic_color: -color5;
}

