.title-group {
    -fx-padding: 75 0 0 100;
}

.title-group > SVGPath{
    -fx-fill: -color2;
    -fx-opacity: 0.8;
}

.title-group > .label {
    -fx-font-family: "UniformRnd-Regular";
    -fx-font-size: 45px;
    -fx-text-fill: -color2;
    -fx-font-weight: bold;
}