* {
    -color1:    #1f1936;
    -color2:    #6c7688;
    -color3:    #58c5c6;   
    -color4:    #83886f;
    -color5:    #fefefe;
    -color6:    #504b62;

    -primary-color: -color1;
    -unselc-primary-color: -color6;
    -secondary-color: -color3;
    -basic-color: -color5;
    
     -fx-font-family: "Uniform Rnd";
}

.play-pause-button {    
    -size: 35;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-background-color: transparent;
}

.play-button > SVGPath {
    -fx-fill: -secondary-color;
}

.circle > SVGPath {
    -fx-fill: -secondary-color;
}

.pause-button > SVGPath {
    -fx-fill: -secondary-color;
}

.back-button , .next-button{
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    
    -fx-background-color: transparent;
}

.back-button > Group > SVGPath, .next-button > Group > SVGPath {
    -fx-fill: -basic-color;
}

.clickable-button {
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    
    -fx-background-color: transparent;
}

.clickable-button > Group > SVGPath {
    -fx-fill: -unselc-primary-color;
}

.clickable-button:selected > Group > SVGPath {
    -fx-fill: -secondary-color;
}

.player {
    -fx-background-color: -primary-color;
}

.progress-bar {
    -fx-accent: -secondary-color;
}

.progress-bar .bar {
    -fx-background-color: -secondary-color;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.progress-bar > .track {
    -fx-background-color: -unselc-primary-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2; /* 10, 9, 8 */
}

.songtime-label {
    -fx-font-size: 12;
    -fx-text-fill: -unselc-primary-color;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider:hover .thumb {
    -fx-background-color: -secondary-color;
}

.slider .thumb {
    -fx-background-color: null;
}
