.play-pause-button {    
    -size: 35;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-background-color: transparent;
}

.play-button > SVGPath {
    -fx-fill: -secondary-color;
}

.play-button:hover > SVGPath {
    -fx-fill: -hover-secondary-color;
}

.play-button:pressed > SVGPath {
    -fx-fill: -selected-secondary-color;
}

.circle > SVGPath {
    -fx-fill: -secondary-color;
}

.circle:hover > SVGPath {
    -fx-fill: -hover-secondary-color;
}

.circle:pressed > SVGPath {
    -fx-fill: -selected-secondary-color;
}

.pause-button > SVGPath {
    -fx-fill: -secondary-color;
}

.pause-button:hover > SVGPath {
    -fx-fill: -hover-secondary-color;
}

.pause-button:pressed > SVGPath {
    -fx-fill: -selected-secondary-color;
}

.back-button , .next-button{
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    
    -fx-background-color: transparent;
}

.back-button > Group > SVGPath, .next-button > Group > SVGPath {
    -fx-fill: -basic-color;
}

.back-button:hover > Group > SVGPath, .next-button:hover > Group > SVGPath {
    -fx-fill: -hover-basic-color;
}

.back-button:pressed > Group > SVGPath, .next-button:pressed > Group > SVGPath {
    -fx-fill: -selected-basic-color;
}

.clickable-button {
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    
    -fx-background-color: transparent;
}

.clickable-button > Group > SVGPath {
    -fx-fill: -unselc-primary-color;
}

.clickable-button:selected > Group > SVGPath {
    -fx-fill: -secondary-color;
}

.clickable-button:pressed > Group > SVGPath {
    -fx-fill: -selected-secondary-color;
}

.clickable-button:hover > Group > SVGPath {
    -fx-fill: -hover-secondary-color;
}

.player {
    -fx-background-color: -primary-color;
}

.songtime-label {
    -fx-font-size: 12;
    -fx-text-fill: -unselc-primary-color;
}

.time-proslider .slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.time-proslider .slider:hover .thumb {
    -fx-background-color: -secondary-color;
}

.time-proslider .slider .thumb {
    -fx-background-color: null;
}

.time-proslider .progress-bar {
    -fx-accent: -secondary-color;
}

.time-proslider .progress-bar .bar {
    -fx-background-color: -secondary-color;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.time-proslider .progress-bar > .track {
    -fx-background-color: -unselc-primary-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2; /* 10, 9, 8 */
}

.volume-proslider .slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.volume-proslider .slider:hover .thumb {
    -fx-background-color: -secondary-color;
}

.volume-proslider .slider .thumb {
    -fx-background-color: null;
}

.volume-proslider .progress-bar {
    -fx-accent: -secondary-color;
}

.volume-proslider .progress-bar .bar {
    -fx-background-color: -secondary-color;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.volume-proslider .progress-bar > .track {
    -fx-background-color: -unselc-primary-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2; /* 10, 9, 8 */
}