.root {
    -color1:    #1f1936;
    -color2:    #6c7688;
    -color3:    #58c5c6;   
    -color4:    #83886f;
    -color5:    #fefefe;

    -primary_color: -color1;
    -secondary_color: -color3;
    -basic_color: -color5;
}

.songname_label {
    -fx-font-size: 20;
    -fx-text-fill: -basic_color;
    -fx-font-weight: bold;
}

.artistname_label {
    -fx-font-size: 12;
    -fx-text-fill: -secondary_color;
}

.icons {

}

.player {
    -fx-background-color: -primary_color;
}

.songdisplay {

}
