.title-group {
    -fx-alignment: CENTER;
    -fx-padding: 50;
}

.title-group > SVGPath{
    -fx-fill: -color2;
    -fx-opacity: 0.8;
}

.title-group > .label {
    -fx-font-size: 45px;
    -fx-text-fill: -color2;
    -fx-font-family: "Uniform Rnd Medium";
    -fx-font-weight: bold;
}