.title-group {
    -fx-alignment: CENTER;
    -fx-padding: 50;
    -fx-pref-width: 440px;
}

.title-group > SVGPath{
    -fx-fill: -color2;
    -fx-opacity: 0.8;
    -fx-pref-width: 440px;
}

.button {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: -basic-color;
    -fx-padding: 5px;
    -fx-pref-width: 80px;
    -fx-background-color: -primary-color;
    -fx-background-radius: 15px;
}

.title-group > .label {
    -fx-font-size: 45px;
    -fx-text-fill: -color2;
    -fx-font-weight: bold;
}

.title-text {
    -fx-font-size: 55px;
    -fx-text-fill: -primary-color;
}