.table-view {
  -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler
 {
  -fx-background-color: -primary-color;
}

.table-view .column-header-background .label {
  -fx-text-fill: -basic-color;
  -fx-font-size: 20px;
  -fx-padding: 10 10 10 10;
  -fx-font-weight: bold;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell {
  -fx-text-fill: -primary-color;
}

.table-view:focused {
  -fx-background-color: transparent;
}

.table-row-cell {
  -fx-cell-size: 40px;
}

.table-column {
  -fx-alignment: center-left;
}

.table-row-cell:selected {
  -fx-background-color: -secondary-color;
}

.table-row-cell:selected .text {
  -fx-fill: -basic-color;
  -fx-font-weight: bold;
}

.table-view .verical-flow .scroll-bar {
  -fx-font-size: 2px;
}

.table-view .scroll-bar:vertical .track {
  -fx-background-color: -unselc-primary-color;
  -fx-background-radius: 0.0em;
  -fx-border-color: transparent;
  -fx-border-radius: 5.0em;
}

.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: -secondary-color;
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.table-view .scroll-bar:horizontal *.increment-button,
.table-view .scroll-bar:horizontal *.decrement-button,
.table-view .scroll-bar:horizontal *.increment-arrow,
.table-view .scroll-bar:horizontal *.decrement-arrow
{
  -fx-padding: 0;
}

.column {
}