.table-view {
  -fx-background-color: transparent;
}

.table-view .column-header {
  -fx-background-color: -primary-color;
}

.table-view .column-header-background {
  -fx-background-color: -primary-color;
}

.table-view .column-header-background .label {
  -fx-text-fill: -basic-color;
  -fx-font-size: 20px;
  -fx-padding: 10 10 10 10;
  -fx-font-weight: bold;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell {
  -fx-text-fill: -primary-color;
}

.table-view:focused {
  -fx-background-color: transparent;
}

.table-row-cell {
  -fx-cell-size: 40px;
}

.table-column {
  -fx-alignment: center-left;
}

.table-row-cell:selected {
  -fx-background-color: -secondary-color;
}

.table-row-cell:selected .text {
  -fx-fill: -basic-color;
}

.table-view .scroll-bar {
}

.table-view .scroll-bar:vertical .track-background {
  -fx-background-color: -unselc-primary-color;
}

.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: -secondary-color;
  -fx-border-color: -unselc-primary-color;
  -fx-border-size: 2px;
  -fx-border-radius: 5px;
}

.table-view .scroll-bar:horizontal .track-background {
  -fx-background-color: -unselc-primary-color;
}

.table-view .scroll-bar:horizontal .thumb {
  -fx-background-color: -secondary-color;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
  -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal *.increment-button,
.table-view .scroll-bar:horizontal *.decrement-button,
.table-view .scroll-bar:horizontal *.increment-arrow,
.table-view .scroll-bar:horizontal *.decrement-arrow
{
  -fx-padding: 0;
}